#button-down {
  /* display: none; */
  color: #fff;
}
col-sm-9 {
  text-align: left;
}
#text-card {
font-size: 1em;
line-height: 1.5;
color: #fff;
}
.content-card {
background-color: rgba(0, 0, 0, 0.5);
padding: 2% 2%;
margin-top: auto;
right: 0;
left: 0;
bottom: 0;
position: absolute;
}
.section-content {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: inherit;
height: inherit;
color: #fff;
}
.btn-layout {
background-color: #f8961e;
border-radius: 10px;
width: 120px;
color: #fff;
font-size: 1em;
}
.btn-response {  
background-color: #f8961e;
border-radius: 10px;
width: 80px;
margin-top: 2%;
font-size: 0.8em;
color: #fff;
}
/* Overwriting styles for navigation bullets
* --------------------------------------- */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
background: white;
}
#fp-nav a:hover {
color: #333;
}

@media screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }
  div#text-card {
    font-size: 0.7em;
    text-align: justify;
  }
}

.div1 {
  animation-name: animationDiv1;
  animation-duration: 1s;
  position: relative;
  z-index: 1;
  background-image: url('/img/home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  filter: brightness(0.5);
  width: 100vw;
  height: 100vh;
}

@keyframes animationDiv1 {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0.5);
  }
}

@keyframes animationHr {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.div-hr-1 {
  animation-name: animationHr1;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: 70vw;
  height: 4px;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
}

@keyframes animationHr1 {
  0% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}

.div-hr-2 {
  animation-name: animationHr2;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: 70vw;
  height: 4px;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
}

@keyframes animationHr2 {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}

.div2 {
  animation-name: animationDiv2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: absolute; /* Menggunakan posisi absolut untuk menimpa div lain */
  z-index: 2; /* Memberikan z-index yang lebih tinggi agar div ini berada di depan */
  width: 70vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-align: center;
}

@keyframes animationDiv2 {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.div-middle {
  animation-name: animationImg;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: transparent;
  width: 100%;
}

@keyframes animationImg {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    visibility: visible;
  }
}

.btn-tour {
  margin-top: 10%;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  width: 20%;
  height: 12%;
  border: 2px #fff solid;
  border-radius: 15px;
  font-family: "Waukegan LDO";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}

.btn-tour:hover {
  background-color: #f3c300;
  color: #000;
}